services:
  app:
    build: .
    container_name: misa_server_app_be
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - DB_HOST=localhost
      - DB_PORT=5433
      - DB_USER=misauser
      - DB_PASSWORD=misauser123
      - DB_NAME=misaserverappdb
      - DB_SYNCHRONIZE=false
    depends_on:
      - db
    networks:
      - misa_network
    volumes:
      - /usr/src/app/node_modules
    labels:
      tsdproxy.enable: "true"
      tsdproxy.name: 'MisaServerBE'
      tsdproxy.container_port: 5000


  db:
    image: postgres:16-alpine
    container_name: misa_postgres
    environment:
      - POSTGRES_USER=misauser
      - POSTGRES_PASSWORD=misauser123
      - POSTGRES_DB=misaserverappdb
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - misa_network
    labels:
      tsdproxy.enable: "true"
      tsdproxy.name: 'MisaServerDB'
      tsdproxy.container_port: 5432

networks:
  misa_network:

volumes:
  db_data: